cripto/force-app/main/default/flows/AtualizaPrecoMedioMercado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Calcula_Total_Geral</name>
        <label>Calcula Total Geral</label>
        <locationX>785</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>Total_Geral</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ordens_de_Compra.Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quantidade_Geral</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Ordens_de_Compra.Quantidade__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Ordens_de_Compra</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>FCalculaMedia</name>
        <dataType>Number</dataType>
        <expression>{!Total_Geral}/{!Quantidade_Geral}</expression>
        <scale>6</scale>
    </formulas>
    <interviewLabel>Atualiza Preço Médio Mercado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza Preço Médio Mercado</label>
    <loops>
        <name>Loop_Ordens_de_Compra</name>
        <label>Loop Ordens de Compra</label>
        <locationX>566</locationX>
        <locationY>204</locationY>
        <collectionReference>Busca_Ordens_de_Compra</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calcula_Total_Geral</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atualiza_Mercado</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Busca_Ordens_de_Compra</name>
        <label>Busca Ordens de Compra</label>
        <locationX>427</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Ordens_de_Compra</targetReference>
        </connector>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Buy</stringValue>
            </value>
        </filters>
        <filters>
            <field>Mercado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mercado__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executada</stringValue>
            </value>
        </filters>
        <object>Ordem__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Mercado</name>
        <label>Atualiza Mercado</label>
        <locationX>765</locationX>
        <locationY>339</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mercado__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PrecoMedio__c</field>
            <value>
                <elementReference>FCalculaMedia</elementReference>
            </value>
        </inputAssignments>
        <object>Mercado__c</object>
    </recordUpdates>
    <startElementReference>Busca_Ordens_de_Compra</startElementReference>
    <status>Active</status>
    <variables>
        <name>Quantidade_Geral</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>Total_Geral</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
</Flow>
