cripto/force-app/main/default/flows/Criar_Ordem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Atribuicao_Valor_Total</name>
        <label>Atribuição Valor Total</label>
        <locationX>1120</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>TotalFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valor_Total</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrecoFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrecoValorTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantidadeFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FValorTotalFinal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuicaoFinal</name>
        <label>AtribuicaoQuantidadeFinal</label>
        <locationX>1129</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>QuantidadeFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrecoFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrecoQuantidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FTotalQuantidade</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmacao</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Compra</description>
        <name>Compra</name>
        <choiceText>Compra</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compra</stringValue>
        </value>
    </choices>
    <choices>
        <description>Quantidade Ativo</description>
        <name>QuantidadeAtivo</name>
        <choiceText>Quantidade Ativo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quantidade Ativo</stringValue>
        </value>
    </choices>
    <choices>
        <description>Valor Total</description>
        <name>ValorTotal</name>
        <choiceText>Valor Total</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Valor Total</stringValue>
        </value>
    </choices>
    <choices>
        <description>Venda</description>
        <name>Venda</name>
        <choiceText>Venda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Venda</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Valor_Total_ou_Quantidade</name>
        <label>Valor Total ou Quantidade</label>
        <locationX>714</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>Tela_Valor_Total</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valor Total</defaultConnectorLabel>
        <rules>
            <name>IFQuantidade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpcaoDeOperacao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuantidadeAtivo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tela_Quantidade</targetReference>
            </connector>
            <label>Quantidade</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ListaCarteiras</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Carteira__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaMercados</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Mercado__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FTipoRegistro</name>
        <dataType>String</dataType>
        <expression>IF({!Tipo} == &apos;Compra&apos;, &apos;0125e000000h1VwAAI&apos;, &apos;0125e000000h1WBAAY&apos;)</expression>
    </formulas>
    <formulas>
        <name>FTotalQuantidade</name>
        <dataType>Number</dataType>
        <expression>{!PrecoQuantidade}*{!Quantidade}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>FValorTotal</name>
        <dataType>Number</dataType>
        <expression>{!PrecoQuantidade}*{!Quantidade}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>FValorTotalFinal</name>
        <dataType>Number</dataType>
        <expression>{!Valor_Total} / {!PrecoValorTotal}</expression>
        <scale>6</scale>
    </formulas>
    <interviewLabel>Criar Orcem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar Ordem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriaOrdem</name>
        <label>CriaOrdem</label>
        <locationX>1457</locationX>
        <locationY>268</locationY>
        <inputAssignments>
            <field>Carteira__c</field>
            <value>
                <elementReference>Carteira</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreationDate__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mercado__c</field>
            <value>
                <elementReference>Mercado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preco__c</field>
            <value>
                <elementReference>PrecoFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade__c</field>
            <value>
                <elementReference>QuantidadeFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FTipoRegistro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Aguardando</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total__c</field>
            <value>
                <elementReference>TotalFinal</elementReference>
            </value>
        </inputAssignments>
        <object>Ordem__c</object>
    </recordCreates>
    <screens>
        <name>Confirmacao</name>
        <label>Confirmação</label>
        <locationX>1327</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CriaOrdem</targetReference>
        </connector>
        <fields>
            <name>TextoConfirmacao</name>
            <fieldText>&lt;p&gt;Confira os dados antes de concluir a ordem.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Tipo: {!Tipo}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Mercado: {!Mercado}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Carteira:{!Carteira}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Preço: {!PrecoFinal} &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantidade: {!QuantidadeFinal}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Valor Total: {!TotalFinal}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OpcoesMercado</name>
        <label>Opções Mercado</label>
        <locationX>419</locationX>
        <locationY>129</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelecaoDeOpcaoDeOperacao</targetReference>
        </connector>
        <fields>
            <name>Carteira</name>
            <choiceReferences>ListaCarteiras</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Carteira</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mercado</name>
            <choiceReferences>ListaMercados</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mercado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipo</name>
            <choiceReferences>Compra</choiceReferences>
            <choiceReferences>Venda</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelecaoDeOpcaoDeOperacao</name>
        <label>Seleção de Opção de Operação</label>
        <locationX>561</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Valor_Total_ou_Quantidade</targetReference>
        </connector>
        <fields>
            <name>TextoExibicaoOpcaoCompra</name>
            <fieldText>&lt;p&gt;Selecione se deseja realizar a compra baseada no valor total a ser trabalhado na operação, ou pela quantidade do ativo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpcaoDeOperacao</name>
            <choiceReferences>ValorTotal</choiceReferences>
            <choiceReferences>QuantidadeAtivo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opção de Operação</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tela_Quantidade</name>
        <label>Tela Quantidade</label>
        <locationX>945</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AtribuicaoFinal</targetReference>
        </connector>
        <fields>
            <name>Quantidade</name>
            <dataType>Number</dataType>
            <fieldText>Quantidade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>PrecoQuantidade</name>
            <dataType>Number</dataType>
            <fieldText>Preço</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tela_Valor_Total</name>
        <label>Tela Valor Total</label>
        <locationX>950</locationX>
        <locationY>362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Atribuicao_Valor_Total</targetReference>
        </connector>
        <fields>
            <name>Valor_Total</name>
            <dataType>Number</dataType>
            <fieldText>Valor Total</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>PrecoValorTotal</name>
            <dataType>Number</dataType>
            <fieldText>Preço</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>OpcoesMercado</startElementReference>
    <status>Active</status>
    <variables>
        <name>PrecoFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>QuantidadeFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>TotalFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
</Flow>
