cripto/force-app/main/default/flows/Efetua_Transacoes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Atribui_Ativo_Secundario</name>
        <label>Atribui Ativo Secundário</label>
        <locationX>1549</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>ID_Ativo_Secundario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existe_Ativo_Secundario_na_Carteira.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inclui_Transacao_Ativo_Primario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_ID_Ativo</name>
        <label>Atribui ID Ativo</label>
        <locationX>907</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>ID_Ativo_Primario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existe_Ativo_Primario_na_Carteira.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_Ativo_Secundario_na_Carteira</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decis_o_Existe_Ativo_Secundario</name>
        <label>Decisão: Existe Ativo Secundário</label>
        <locationX>1314</locationX>
        <locationY>93</locationY>
        <defaultConnector>
            <targetReference>Atribui_Ativo_Secundario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existe Ativo Secundário</defaultConnectorLabel>
        <rules>
            <name>IF_Nao_Existe_Ativo_Secundario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existe_Ativo_Secundario_na_Carteira.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_Ativo_Secundario</targetReference>
            </connector>
            <label>IF Não Existe Ativo Secundário</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decisao_Existe_Ativo_Primario</name>
        <label>Decisao Existe Ativo Primário?</label>
        <locationX>640</locationX>
        <locationY>91</locationY>
        <defaultConnector>
            <targetReference>Atribui_ID_Ativo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existe Ativo Primario</defaultConnectorLabel>
        <rules>
            <name>IF_Nao_Existe_Ativo_Primario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existe_Ativo_Primario_na_Carteira.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criar_Ativo_Primario</targetReference>
            </connector>
            <label>IF Não Existe Ativo Primário?</label>
        </rules>
    </decisions>
    <formulas>
        <name>FCalculaQuantidadeCompra</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantidade__c} * IF ( ISPICKVAL ( {!$Record.Type__c}, &apos;Buy&apos; ), 1 ,-1)</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>FCalculaQuantidadeVenda</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Total__c} * IF ( ISPICKVAL ( {!$Record.Type__c}, &apos;Buy&apos; ), -1 ,1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Efetua Transações {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Efetua Transações</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Ativo_Primario</name>
        <label>Criar Ativo Primário</label>
        <locationX>910</locationX>
        <locationY>93</locationY>
        <assignRecordIdToReference>ID_Ativo_Primario</assignRecordIdToReference>
        <connector>
            <targetReference>Existe_Ativo_Secundario_na_Carteira</targetReference>
        </connector>
        <inputAssignments>
            <field>Carteira__c</field>
            <value>
                <elementReference>$Record.Carteira__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.MoedaPrimaria__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ativo_da_Carteira__c</object>
    </recordCreates>
    <recordCreates>
        <name>Criar_Ativo_Secundario</name>
        <label>Criar Ativo Secundário</label>
        <locationX>1549</locationX>
        <locationY>89</locationY>
        <assignRecordIdToReference>ID_Ativo_Secundario</assignRecordIdToReference>
        <connector>
            <targetReference>Inclui_Transacao_Ativo_Primario</targetReference>
        </connector>
        <inputAssignments>
            <field>Carteira__c</field>
            <value>
                <elementReference>$Record.Carteira__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.MoedaSecundaria__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ativo_da_Carteira__c</object>
    </recordCreates>
    <recordCreates>
        <name>Inclui_Transacao_Ativo_Primario</name>
        <label>Inclui Transação Ativo Primário</label>
        <locationX>1764</locationX>
        <locationY>146</locationY>
        <connector>
            <targetReference>Incluir_Transacao_Ativo_Secundario</targetReference>
        </connector>
        <inputAssignments>
            <field>Ativo_da_Carteira__c</field>
            <value>
                <elementReference>ID_Ativo_Primario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carteira__c</field>
            <value>
                <elementReference>$Record.Carteira__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ordem__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade__c</field>
            <value>
                <elementReference>FCalculaQuantidadeCompra</elementReference>
            </value>
        </inputAssignments>
        <object>Transacao__c</object>
    </recordCreates>
    <recordCreates>
        <name>Incluir_Transacao_Ativo_Secundario</name>
        <label>Incluir Transação Ativo Secundário</label>
        <locationX>1936</locationX>
        <locationY>146</locationY>
        <inputAssignments>
            <field>Ativo_da_Carteira__c</field>
            <value>
                <elementReference>ID_Ativo_Secundario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carteira__c</field>
            <value>
                <elementReference>$Record.Carteira__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ordem__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade__c</field>
            <value>
                <elementReference>FCalculaQuantidadeVenda</elementReference>
            </value>
        </inputAssignments>
        <object>Transacao__c</object>
    </recordCreates>
    <recordLookups>
        <name>Existe_Ativo_Primario_na_Carteira</name>
        <label>Existe Ativo Primário na Carteira</label>
        <locationX>472</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decisao_Existe_Ativo_Primario</targetReference>
        </connector>
        <filters>
            <field>Carteira__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Carteira__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MoedaPrimaria__c</elementReference>
            </value>
        </filters>
        <object>Ativo_da_Carteira__c</object>
    </recordLookups>
    <recordLookups>
        <name>Existe_Ativo_Secundario_na_Carteira</name>
        <label>Existe Ativo Secundário na Carteira?</label>
        <locationX>1149</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decis_o_Existe_Ativo_Secundario</targetReference>
        </connector>
        <filters>
            <field>Carteira__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Carteira__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MoedaSecundaria__c</elementReference>
            </value>
        </filters>
        <object>Ativo_da_Carteira__c</object>
    </recordLookups>
    <startElementReference>Existe_Ativo_Primario_na_Carteira</startElementReference>
    <status>Active</status>
    <variables>
        <name>ID_Ativo_Primario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID_Ativo_Secundario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
