cripto/force-app/main/default/flows/Saque_Deposito.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Deposito</name>
        <choiceText>Depósito</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deposito</stringValue>
        </value>
    </choices>
    <choices>
        <name>Saque</name>
        <choiceText>Saque</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Saque</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decisao_Se_for_Saque</name>
        <label>Decisão : Se for Saque</label>
        <locationX>745</locationX>
        <locationY>250</locationY>
        <defaultConnector>
            <targetReference>Insere_Transacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Se for Depósito</defaultConnectorLabel>
        <rules>
            <name>Se_for_Saque</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_Operacao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Saque</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifica_Saldo</targetReference>
            </connector>
            <label>Se for Saque</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Saldo</name>
        <label>Valida Saldo</label>
        <locationX>1119</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>Saldo_Insuficiente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Se não tiver saldo</defaultConnectorLabel>
        <rules>
            <name>Se_tiver_Saldo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verifica_Saldo.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insere_Transacao</targetReference>
            </connector>
            <label>Se tiver Saldo</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Ativo_Carteita</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Carteira__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Carteira</elementReference>
            </value>
        </filters>
        <object>Ativo_da_Carteira__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Carteita</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Carteira__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FCalculaQuantidade</name>
        <dataType>Number</dataType>
        <expression>IF ({!Tipo_de_Operacao} == &apos;Saque&apos;, {!Quantidade}*-1, {!Quantidade})</expression>
        <scale>6</scale>
    </formulas>
    <interviewLabel>Saque/Depósito {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Saque/Depósito</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insere_Transacao</name>
        <label>Insere Transação</label>
        <locationX>964</locationX>
        <locationY>339</locationY>
        <inputAssignments>
            <field>Ativo_da_Carteira__c</field>
            <value>
                <elementReference>Ativo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carteira__c</field>
            <value>
                <elementReference>Carteira</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade__c</field>
            <value>
                <elementReference>FCalculaQuantidade</elementReference>
            </value>
        </inputAssignments>
        <object>Transacao__c</object>
    </recordCreates>
    <recordLookups>
        <name>Verifica_Saldo</name>
        <label>Verifica Saldo</label>
        <locationX>957</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_Saldo</targetReference>
        </connector>
        <filters>
            <field>Carteira__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Carteira</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ativo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Saldo__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Quantidade</elementReference>
            </value>
        </filters>
        <object>Ativo_da_Carteira__c</object>
    </recordLookups>
    <screens>
        <name>Confirma_Operacao</name>
        <label>Confirma Operação?</label>
        <locationX>595</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decisao_Se_for_Saque</targetReference>
        </connector>
        <fields>
            <name>TextoConfirmacao</name>
            <fieldText>&lt;p&gt;Confirma a operação abaixo?]&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Carteira: {!Carteira}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Ativo: {!Ativo}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operação: {!Tipo_de_Operacao}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantidade: {!Quantidade}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Informe_o_Ativo_e_Quantidade</name>
        <label>Informe o Ativo e Quantidade</label>
        <locationX>434</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirma_Operacao</targetReference>
        </connector>
        <fields>
            <name>Ativo</name>
            <choiceReferences>Ativo_Carteita</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ativo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantidade</name>
            <dataType>Number</dataType>
            <fieldText>Quantidade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Saldo_Insuficiente</name>
        <label>Saldo Insuficiente</label>
        <locationX>1121</locationX>
        <locationY>43</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Saque_Deposito</targetReference>
        </connector>
        <fields>
            <name>Excessao_Sem_Saldo</name>
            <fieldText>&lt;p&gt;Você não possui saldo para efetuar esta operação.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Saque_Deposito</name>
        <label>Saque / Depósito</label>
        <locationX>436</locationX>
        <locationY>43</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Informe_o_Ativo_e_Quantidade</targetReference>
        </connector>
        <fields>
            <name>Carteira</name>
            <choiceReferences>Carteita</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Carteira</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipo_de_Operacao</name>
            <choiceReferences>Deposito</choiceReferences>
            <choiceReferences>Saque</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Deposito</defaultSelectedChoiceReference>
            <fieldText>Tipo de Operação</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Saque_Deposito</startElementReference>
    <status>Active</status>
    <variables>
        <name>Saldo_Ativo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
        <value>
            <elementReference>Verifica_Saldo.Saldo__c</elementReference>
        </value>
    </variables>
</Flow>
